@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #462a3e;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 850px;
    height: 650px;
    background: linear-gradient(to top, #56374E, #60495a);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    border: none;
}

.text {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}

#sourceText {
    width: 100%;
    height: 260px;
    margin-left: 7px;
    color: black;
    background-color: white;
    font-size: 19px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
}

#targetText {
    width: 100%;
    height: 260px;
    margin-right: 7px;
    color: black;
    background-color: white;
    font-size: 19px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
}

.selectArea {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #301f2b;
    margin-top: 20px;
}

.select1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-right: 5px solid #705669;
    border-radius: 5px;
}

.select2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-left: 5px solid #705669;
    border-radius: 5px;
}

#sourceSelect {
    width: 50%;
    padding: 10px 40px 10px 40px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

#targetSelect {
    width: 50%;
    padding: 10px 40px 10px 40px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

#sourceSelect:hover, #targetSelect:hover {
    background-color: #e9e9e9;
}

.icon-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.2s ease;
}

.icon-btn:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px #7a5af5);
}

#swap {
    display: block;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 1.5s ease;
    width: 35px;
    height: 35px;
    color: #705669;
}

#swap:hover {
    transform: rotate(360deg);
    filter: drop-shadow(0 0 5px #7a5af5);
}


#translate {
    width: 600px;
    height: 50px;
    /* background-color: #301f2b; */
    background: linear-gradient(90deg, #705669, #7D6577);
    margin-top: 50px;
    color: #ffff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#translate:hover {
    opacity: 0.9;
}

.selectArea #copySource, .selectArea #copyTarget, .selectArea #speakSource, .selectArea #speakTarget {
    cursor: pointer;
}